{% extends "layouts/_template.twig" %}
{% block content %}
  <form id="search-form">
    <input type="search" name="search"></input>
    <button role="button" type="button">
      search
    </button>
  </form>

{% endblock %}
